.albumList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.album {
  flex: 20%;
  max-width: 20%;
  padding: 2%;
}

.coverImage {
  position: relative;
}

.coverImage > img {
  width: 100%;
}

.coverOverlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity:0;
  transition: .5s ease;
}

.coverOverlay:hover {
  opacity: 1;
  transition: .5s ease;
}

.overlayButtons {
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coverButton {
  text-align: center;
}

.coverButton > svg {
  fill: white;
  width: 40%;
  opacity: 0.5;
  transition: .3s ease;
}

.coverButton > svg:hover {
  width: 60%;
  opacity: 1;
  transition: .3s ease;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.album-name > a{
  font-weight: 700;
  font-size: 14px;
  color: #ffffff;
  padding-top: 5px;
  text-decoration: none;
}
  
.artist-name > a{
  font-weight: 700;
  font-size: 14px;
  color: #a0a0a0;
  padding-top: 5px;
  text-decoration: none;
}

/* Hover styles */
.album-name > a:hover {
  text-decoration: underline;
}

.artist-name > a:hover {
  text-decoration: underline;
  color: #ffffff;
}

@media screen and (max-width: 992px) {
  .album {
    flex: 40%;
    max-width: 40%;
  }
}

@media screen and (max-width: 600px) {
  .albumList {
    flex-direction: column;
  }

  .album {
    max-width: 100%;
  }
}